@font-face {
    font-family: RobotoCondensed;
    src        : url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src        : url(assets/economica-bold.ttf);
}

body {
    text-align : center;
    font-size  : 15px;
    padding    : 3.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'EconomicaBold';
}

.profile {
    width        : 100px;
    height       : 100px;
    border-radius: 100px;
}

.containerforabout {
    display              : grid;
    padding              : 30px;
    text-align           : center;
    grid-template-columns: auto auto;
    grid-column-gap      : 10px;
}

.items {
    padding   : 30px;
    text-align: left;
}

div.custom-container {
    background-color: #242424;
}

svg.custom .node circle {
    fill        : rgb(114, 116, 121);
    stroke      : rgb(184, 115, 37);
    stroke-width: 5px;
}

svg.custom .node text {
    font-size       : 15px;
    background-color: #444;
    fill            : rgb(26, 23, 23);
    text-shadow     : 0 1px 4px black;
}

svg.custom .node {
    cursor: pointer;
}

svg.custom path.link {
    fill        : none;
    stroke      :rgba(235, 130, 11, 0.822);
    stroke-width: 5px;
}


.node text {
    font-size       : 11px;
    font-family     : "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    fill            : black;
}

.node {
    cursor: pointer;
}

path.link {
    fill        : none;
    stroke      : rgba(235, 130, 11, 0.822);
    stroke-width: 1.5px;
}