@font-face {
    font-family: RobotoCondensed;
    src        : url(assets/roboto-condensed.light.ttf);
    font-weight: 800;
}

@font-face {
    font-family: EconomicaBold;
    src        : url(assets/economica-bold.ttf);
}

body {
    text-align : center;
    font-size  : 15px;
    padding    : 3.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'EconomicaBold';
}

.profile {
    width        : 100px;
    height       : 100px;
    border-radius: 100px;
}

.containerforabout {
    display              : grid;
    padding              : 30px;
    text-align           : center;
    grid-template-columns: auto auto;
    grid-column-gap      : 10px;
}

.items {
    padding         : 30px;
    text-align      : left;
}

.red-node {
	fill: red;
	stroke: red;
}

div.custom-container {
	background-color: #242424;
}

svg.custom .node circle {
	fill: #F3F3FF;
	stroke: #2593B8;
	stroke-width: 5px;
}

svg.custom .node text {
	font-size: 15px;
	background-color: #444;
	fill: #F4F4F4;
	text-shadow: 0 1px 4px black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 5px;
}